header {

    text-align: center;
    color: rgb(151, 59, 6);
    background-color: rgb(245, 216, 121);
    padding: 30px;
}

div {

text-align: center;
padding: 100px;


}

footer{

text-align: center;

}


button{

height: 50px;
width: 150px;
color: rgb(97, 38, 5);
background-color: rgb(245, 216, 121);
border-radius: 50px;

}


